<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web-app Immobilier</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.2/css/all.min.css"
    />


    <!-- Add Google Places API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var input = document.getElementById('adresse');
            var autocomplete = new google.maps.places.Autocomplete(input, {
                componentRestrictions: { country: 'fr' },
                fields: ['address_components']
            });

            autocomplete.addListener('place_changed', function() {
                var place = autocomplete.getPlace();
                var city = '';

                for (var component of place.address_components) {
                    if (component.types.includes('locality')) {
                        city = component.long_name;
                        break;
                    }
                }

                document.getElementById('ville').value = city;
            });
        });
    </script>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />


    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>



    <h1 class="bandeau">Immobilier Web-App <div align="right"><a href="{{ url_for('about')}}"> <button class="btn btn btn-sm"><strong><font color="#242531">À propos</font> </strong></button> </a><a href="{{ url_for('index')}}"> 

    <strong><font color="#ffe237"><i class="fas fa-home fa-xs"></i></font> </strong>
    </a>&nbsp;&nbsp;&nbsp;</div></h1><br />

<h2 class="titreapp" style="color: #242531; font-family: courrier new, monospace" align="center">Estimation des prix au m<sup>2</sup></h2>




 <form method="post"
      class="mt-2"
      style="
        display: block;
        max-width: 470px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        border: 5px solid #f5f6f7;
        border-radius: 10px;
      " align="center"
    >
<br />


    <div class="form-container">
        <div class="form-group">
            <label for="adresse"><strong>Adresse</strong> <font color="#ffe237">*</font></label>
            <select 
                id="adresse"
                name="adresse" 
                class="form-control"
                required
            >
                <option value="">Choisir une adresse...</option>
                <option value="45 avenue des Champs-Élysées" selected>45 avenue des Champs-Élysées</option>
                <option value="12 rue de Rivoli">12 rue de Rivoli</option>
                <option value="45 avenue des Champs-Élysées">45 avenue des Champs-Élysées</option>
                <option value="3 place de la République">3 place de la République</option>
                <option value="158 boulevard Haussmann">158 boulevard Haussmann</option>
                <option value="24 rue du Commerce">24 rue du Commerce</option>
                <option value="56 rue de la Roquette">56 rue de la Roquette</option>
              </select>
            </td></tr>
            <tr><td><label for="surface"><strong>Surface (m²) </strong><font color="#ffe237">*</font></label></td>
            <td><input type="number" id="surface" name="surface" required min="1" max="1000" value="75"
                style="display: inline-block; border: 2px solid #21e49d; border-radius:5px; padding: 5px; width: 200px;"/>
            </td></tr>
            <tr><td><label for="pieces"><strong>Nombre de pièces </strong><font color="#ffe237">*</font></label></td>
            <td><input type="number" id="pieces" name="pieces" required min="1" max="20" value="3"
                style="display: inline-block; border: 2px solid #21e49d; border-radius:5px; padding: 5px; width: 200px;"/>
            </td></tr>
            <tr><td><label for="ville"><strong>Ville</strong> <font color="#ffe237">*</font></label></td>
            <td>
              <input type="text" id="ville" name="ville" list="villes" class="form-control" required>
              <datalist id="villes">
                <option value="Paris 01">
                <option value="Paris 02">
                <option value="Paris 03">
                <option value="Paris 04">
                <option value="Paris 05">
                <option value="Paris 06">
                <option value="Paris 07">
                <option value="Paris 08">
                <option value="Paris 09">
                <option value="Paris 10">
                <option value="Paris 11">
                <option value="Paris 12">
                <option value="Paris 13">
                <option value="Paris 14">
                <option value="Paris 15">
                <option value="Paris 16">
                <option value="Paris 17">
                <option value="Paris 18">
                <option value="Paris 19">
                <option value="Paris 20">
                <option value="Ablon-Sur-Seine">
                <option value="Alfortville">
                <option value="Antony">
                <option value="Arcueil">
                <option value="Asnieres-Sur-Seine">
                <option value="Aubervilliers">
                <option value="Aulnay-Sous-Bois">
                <option value="Bagneux">
                <option value="Bagnolet">
                <option value="Bobigny">
                <option value="Bois-Colombes">
                <option value="Boissy-Saint-Leger">
                <option value="Bondy">
                <option value="Bonneuil-Sur-Marne">
                <option value="Boulogne-Billancourt">
                <option value="Bourg-La-Reine">
                <option value="Bry-Sur-Marne">
                <option value="Cachan">
              </datalist>
            </td></tr>

        </tbody>
    </table>


<br /><br />

<p align="center"><strong>Type de logement :</strong><font color="#ffe237">*
              </font color></p>


<div align="center">
  <input type="radio" id="apt" name="local" value="Appartement" checked>
  <label for="apt">Appartement</label>
</div>

<div align="center">
  <input type="radio" id="maison" name="local" value="Maison">
  <label for="maison">Maison</label>
</div>



      <div class="col-auto px-2" align="center">
        <br /><button type="submit" class="btn btn-block">
          <strong> Envoyer   <i class="fas fa-search"></i></strong>
        </button>
        <br /><br /><br />

         <div class="col-auto" align="center">
           <!-- Langages -->
           <button class="btn btn-primary btn-sm" disabled>Python</button>
           <button class="btn btn-primary btn-sm" disabled>HTML</button>
           <button class="btn btn-primary btn-sm" disabled>CSS</button>
           <br/>

           <!-- Frameworks -->
           <button class="btn btn-success btn-sm" disabled>Flask</button>
           <button class="btn btn-success btn-sm" disabled>Bootstrap</button>
           <br/>

           <!-- Modèles ML -->
           <button class="btn btn-warning btn-sm" disabled>scikit-learn</button>
           <button class="btn btn-warning btn-sm" disabled>Ridge Regression</button>
           <br/>

           <!-- Librairies -->
           <button class="btn btn-info btn-sm" disabled>Pandas</button>
           <button class="btn btn-info btn-sm" disabled>NumPy</button>
           <button class="btn btn-info btn-sm" disabled>Plotly</button>
           <br/>

           <!-- Outils -->
           <button class="btn btn-secondary btn-sm" disabled>Git</button>
           <button class="btn btn-secondary btn-sm" disabled>Jupyter</button>
         </div>
         <br/>
      </div>
    </form>

    <div 
    style="margin-bottom: 100px;"
    >
      <br/>
      <br/>
      <h3 align="center">Notre équipe</h3>
    <div class="imgContainer">
      <figure>
        <img src="static/louise.png" class="trombi lighter" />
        <figcaption>
          Louise<br />
          <a href="#" target="_new"
            ><img
              src="static/twitterj.png"
              onmouseover="this.src='static/twitterv.png'"
              width="30px"
              onmouseout="this.src='static/twitterj.png'"
              width="30px"
              onclick="this.src='static/twitterv.png'"
              width="30px"
          /></a>
          <a href="https://www.linkedin.com/in/louise-amsellem-chef-de-projet-digital-idf/" target="_new"
            ><img
              src="static/linkedinj.png"
              onmouseover="this.src='static/linkedinv.png'"
              width="30px"
              onmouseout="this.src='static/linkedinj.png'"
              width="30px"
              onclick="this.src='static/linkedinv.png'"
              width="30px"
          /></a>
          <a href="https://github.com/LouiseAmsellem" target="_new"
            ><img
              src="static/githubj.png"
              onmouseover="this.src='static/githubv.png'"
              width="30px"
              onmouseout="this.src='static/githubj.png'"
              width="30px"
              onclick="this.src='static/githubv.png'"
              width="30px"
          /></a>
        </figcaption>
      </figure>

      <figure>
        <img src="static/joao.png" class="trombi lighter" />
        <figcaption>
          João<br />
          <a href="#" target="_new"
            ><img
              src="static/twitterj.png"
              onmouseover="this.src='static/twitterv.png'"
              width="30px"
              onmouseout="this.src='static/twitterj.png'"
              width="30px"
              onclick="this.src='static/twitterv.png'"
              width="30px"
          /></a>
          <a href="https://www.linkedin.com/in/joaomacalos/" target="_new"
            ><img
              src="static/linkedinj.png"
              onmouseover="this.src='static/linkedinv.png'"
              width="30px"
              onmouseout="this.src='static/linkedinj.png'"
              width="30px"
              onclick="this.src='static/linkedinv.png'"
              width="30px"
          /></a>
          <a href="https://github.com/joaomacalos" target="_new"
            ><img
              src="static/githubj.png"
              onmouseover="this.src='static/githubv.png'"
              width="30px"
              onmouseout="this.src='static/githubj.png'"
              width="30px"
              onclick="this.src='static/githubv.png'"
              width="30px"
          /></a>
        </figcaption>
      </figure>

      <figure>
        <img src="static/laure.png" class="trombi lighter" />
        <figcaption>
          Laure<br />
          <a href="#"
            ><img
              src="static/twitterj.png"
              onmouseover="this.src='static/twitterv.png'"
              width="30px"
              onmouseout="this.src='static/twitterj.png'"
              width="30px"
              onclick="this.src='static/twitterv.png'"
              width="30px"
          /></a>
          <a href="https://www.linkedin.com/in/laure-agrech-7a013167/" target="_blank"
            ><img
              src="static/linkedinj.png"
              onmouseover="this.src='static/linkedinv.png'"
              width="30px"
              onmouseout="this.src='static/linkedinj.png'"
              width="30px"
              onclick="this.src='static/linkedinv.png'"
              width="30px"
          /></a>
          <a href="https://github.com/yoopiyo" target="_blank"
            ><img
              src="static/githubj.png"
              onmouseover="this.src='static/githubv.png'"
              width="30px"
              onmouseout="this.src='static/githubj.png'"
              width="30px"
              onclick="this.src='static/githubv.png'"
              width="30px"
          /></a>
        </figcaption>
      </figure>

      <figure>
        <img src="static/erwan.png" class="trombi lighter" />
        <figcaption>
          Erwan<br />
          <a href="#" target="_new"
            ><img
              src="static/twitterj.png"
              onmouseover="this.src='static/twitterv.png'"
              width="30px"
              onmouseout="this.src='static/twitterj.png'"
              width="30px"
              onclick="this.src='static/twitterv.png'"
              width="30px"
          /></a>
          <a href="https://www.linkedin.com/in/erwan-de-villechabrolle-01809696/" target="_new"
            ><img
              src="static/linkedinj.png"
              onmouseover="this.src='static/linkedinv.png'"
              width="30px"
              onmouseout="this.src='static/linkedinj.png'"
              width="30px"
              onclick="this.src='static/linkedinv.png'"
              width="30px"
          /></a>
          <a href="https://github.com/erwandevdotcom" target="_blank"
            ><img
              src="static/githubj.png"
              onmouseover="this.src='static/githubv.png'"
              width="30px"
              onmouseout="this.src='static/githubj.png'"
              width="30px"
              onclick="this.src='static/githubv.png'"
              width="30px"
          /></a>
        </figcaption>
      </figure>
    </div>

    <br />

    <div 
    class="gitHub"
    style="position: fixed; bottom: 0; width: 100%"
    >
        <a href="https://github.com/joaomacalos/projet-immobilier-paris" target="_blank"> Open-source code </a
        ><img src="static/githubj.png" width="30px" /> 
    </div>
  </body>
</html>